<style>
    /* width */
    ::-webkit-scrollbar {
        width: 2px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .entrance-wrapper[_ngcontent-serverApp-c172] {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0
    }

    .entrance-wrapper[_ngcontent-serverApp-c172]:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 88%;
        height: 100%
    }

    .entrance-wrapper.fix[_ngcontent-serverApp-c172] {
        position: fixed;
        top: 112px;
        bottom: 62px;
        right: auto;
        width: 25%
    }

    .entrance-wrapper[_ngcontent-serverApp-c172] .btn[_ngcontent-serverApp-c172] {
        width: 88%;
        height: 20px;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
        --tw-bg-opacity: 1;
        background-color: rgb(255 77 0 / var(--tw-bg-opacity));
        text-align: center;
        z-index: 1
    }

    .entrance-wrapper[_ngcontent-serverApp-c172] li[_ngcontent-serverApp-c172] {
        position: relative;
        width: 88%;
        margin: 3px 0;
        padding: 3px 0;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
        text-align: center;
        border-radius: 0 10px 10px 0;
        background: linear-gradient(to right, #1d1e1f 0%, rgba(0, 0, 0, .3) 100%);
        --tw-bg-opacity: 1;
        background-color: rgb(73 74 77 / var(--tw-bg-opacity))
    }

    .entrance-wrapper[_ngcontent-serverApp-c172] li.active[_ngcontent-serverApp-c172] {
        --tw-bg-opacity: 1;
        background-color: rgb(255 77 0 / var(--tw-bg-opacity))
    }

    .entrance-wrapper[_ngcontent-serverApp-c172] li.active[_ngcontent-serverApp-c172]:before {
        content: "";
        position: absolute;
        top: calc(50% - 7px);
        right: -8px;
        width: 0;
        height: 0;
        border-width: 7px 0 7px 8px;
        border-style: solid;
        border-color: transparent;
        --tw-border-opacity: 1;
        border-left-color: rgb(255 77 0 / var(--tw-border-opacity))
    }

    .list-title[_ngcontent-serverApp-c172] {
        position: relative;
        width: 90%;
        margin: 0 auto 5px;
        text-align: left
    }

    .list-title[_ngcontent-serverApp-c172]:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        left: 10px;
        display: inline-block;
        height: 1px;
        background-color: #ff000f
    }

    .list-title[_ngcontent-serverApp-c172]>span[_ngcontent-serverApp-c172] {
        display: inline-block;
        vertical-align: top;
        padding: 0 5px;
        color: #fff;
        font-size: 13px;
        line-height: 30px;
        background-color: #ff000f;
        border-radius: 10px
    }

    .list-title.recommend[_ngcontent-serverApp-c172]:after {
        background-color: #b9006d
    }

    .list-title.recommend[_ngcontent-serverApp-c172]>span[_ngcontent-serverApp-c172] {
        background-color: #b9006d
    }

    .list-title.other[_ngcontent-serverApp-c172]:after {
        background-color: #ff7c54
    }

    .list-title.other[_ngcontent-serverApp-c172]>span[_ngcontent-serverApp-c172] {
        background-color: #ff7c54
    }

    .icon[_ngcontent-serverApp-c172] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }

    .icon[_ngcontent-serverApp-c172] i[_ngcontent-serverApp-c172] {
        position: absolute;
        height: 20px;
        width: 20px;
        background: no-repeat center top;
        background-size: contain
    }

    .icon[_ngcontent-serverApp-c172] i.hot[_ngcontent-serverApp-c172] {
        top: -5px;
        left: 0;
        background-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/hot.0cd38f347d2485db.png)
    }

    .icon[_ngcontent-serverApp-c172] i.event[_ngcontent-serverApp-c172] {
        top: -5px;
        right: -5px;
        background-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/events.e23c01f7521fdab9.png)
    }

    .icon[_ngcontent-serverApp-c172] i.new[_ngcontent-serverApp-c172] {
        bottom: 0;
        right: -5px;
        background-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/prize.c3f3768bcac8ed7e.png)
    }

    .more-btn[_ngcontent-serverApp-c172] {
        position: absolute;
        right: 0;
        bottom: 0;
        color: #b9006d;
        height: 26px;
        text-decoration: none;
        line-height: 26px
    }

    .more-btn[_ngcontent-serverApp-c172]:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 5px;
        border: 5px solid transparent;
        border-left: 10px solid #b9006d
    }

    .more-btn[_ngcontent-serverApp-c172]>span[_ngcontent-serverApp-c172] {
        display: inline-block;
        vertical-align: middle;
        max-width: 4.2rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden
    }

    .review-btn[_ngcontent-serverApp-c172] {
        flex: 0 0 33%
    }
</style>

<section _ngcontent-serverapp-c172="" class="entrance relative w-1/4" style="background-color: #000000;">

    <section _ngcontent-serverapp-c172="" class="entrance-wrapper normal"
        style="bottom: auto; height: 605px; opacity: 1;background-color: #000000;">

        <div _ngcontent-serverapp-c172="" class="relative h-full overflow-y-scroll">
            <ul _ngcontent-serverapp-c172="" class="absolute top-0 left-0 w-full list-production-select">
                <li _ngcontent-serverapp-c172="" class="<%=(location=='INDEX')?'active':'';%>" data-product="INDEX">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/RecommendGame.png">
                    Giới thiệu
                    <div _ngcontent-serverapp-c172="" class="icon">
                    </div>
                </li>
                <li _ngcontent-serverapp-c172="" class="<%=(location=='R88')?'active':'';%>" data-product="R88">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/bf3858a5eac14265a99cc4392100eed3.png">
                    RICH88 <div _ngcontent-serverapp-c172="" class="icon">
                    </div>
                </li>
                <li _ngcontent-serverapp-c172="" class="<%=(location=='CQ9')?'active':'';%>" data-product="CQ9">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/CQ9Html.png">
                    CQ9 <div _ngcontent-serverapp-c172="" class="icon">
                    </div>
                </li>
                <li _ngcontent-serverapp-c172="" class="<%=(location=='PG')?'active':'';%>" data-product="PG">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/d88fb5bdd172446293eda4a20ff3d650.png">
                    PG
                    <div _ngcontent-serverapp-c172="" class="icon">
                    </div>
                </li>
                <li _ngcontent-serverapp-c172="" class="<%=(location=='JL')?'active':'';%>" data-product="JL">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/6079a4ec90844df68d8a10914ef6a97f.png">
                    JILI <div _ngcontent-serverapp-c172="" class="icon"><i _ngcontent-serverapp-c172=""
                            class="hot"></i><i _ngcontent-serverapp-c172="" class="event"></i></div>
                </li>
                <!-- <li _ngcontent-serverapp-c172="" class="<%=(location=='TP')?'active':'';%>" data-product="TP">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/TpSlot.png">
                    TP <div _ngcontent-serverapp-c172="" class="icon"><i _ngcontent-serverapp-c172="" class="hot"></i>
                    </div>
                </li> -->
                <li _ngcontent-serverapp-c172="" class="<%=(location=='FC')?'active':'';%>" data-product="FC">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/9f83f6a1434c4923a23cb9487f802806.png">
                    FC <div _ngcontent-serverapp-c172="" class="icon"><i _ngcontent-serverapp-c172="" class="hot"></i><i
                            _ngcontent-serverapp-c172="" class="event"></i></div>
                </li>
                <li _ngcontent-serverapp-c172="" class="<%=(location=='JDB')?'active':'';%>" data-product="JDB">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/JdbHtml.png">
                    JDB <div _ngcontent-serverapp-c172="" class="icon">
                    </div>
                </li>
                <!-- <li _ngcontent-serverapp-c172="" class="<%=(location=='PP')?'active':'';%>" data-product="PP">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/a36eccc94e4a4eaa8c8befee610c8f47.png">
                    PP <div _ngcontent-serverapp-c172="" class="icon">
                    </div>
                </li> -->
                <li _ngcontent-serverapp-c172="" class="<%=(location=='MGS')?'active':'';%>" data-product="MGS">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/MgHtml.png">
                    MGS <div _ngcontent-serverapp-c172="" class="icon"><i _ngcontent-serverapp-c172=""
                            class="event"></i>
                    </div>
                </li>
                <!-- <li _ngcontent-serverapp-c172="" class="<%=(location=='VA')?'active':'';%>" data-product="VA">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/033762616e4444b5ad2b9150233759fe.png">
                    VA <div _ngcontent-serverapp-c172="" class="icon">
                    </div>
                </li> -->
                <!-- <li _ngcontent-serverapp-c172="" class="<%=(location=='BNG')?'active':'';%>" data-product="BNG">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/a3cc2dc8732141dd8ef9f1e048fad3e4.png">
                    BNG <div _ngcontent-serverapp-c172="" class="icon"><i _ngcontent-serverapp-c172=""
                            class="event"></i></div>
                </li> -->
                <li _ngcontent-serverapp-c172="" class="<%=(location=='KA')?'active':'';%>" data-product="KA">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/KaHtml.png">
                    KA <div _ngcontent-serverapp-c172="" class="icon">
                    </div>
                </li>
                <!-- <li _ngcontent-serverapp-c172="" class="<%=(location=='FTG')?'active':'';%>" data-product="FTG">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/9a6df2cdd0ee4bc5808b0854e0385833.png">
                    FTG <div _ngcontent-serverapp-c172="" class="icon">
                    </div>
                </li> -->
                <!-- <li _ngcontent-serverapp-c172="" class="<%=(location=='PS')?'active':'';%>" data-product="PS">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/5f9f6f692ca54b20a0920abc47f5c84e.png">
                    PS <div _ngcontent-serverapp-c172="" class="icon">
                    </div>
                </li> -->
                <li _ngcontent-serverapp-c172="" class="<%=(location=='PT')?'active':'';%>" data-product="PT">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/a3d1afd358994318932f6490d33f7c1c.png">
                    PT <div _ngcontent-serverapp-c172="" class="icon">
                    </div>
                </li>
                <!-- <li _ngcontent-serverapp-c172="" class="<%=(location=='HB')?'active':'';%>" data-product="HB">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/5f5cd12539f741f6ba1db6a55e423a8a.png">
                    HB <div _ngcontent-serverapp-c172="" class="icon">
                    </div>
                </li> -->
                <!-- <li _ngcontent-serverapp-c172="" class="<%=(location=='NE')?'active':'';%>" data-product="NE">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/9c946cf69cd247dc8a8cd2941c9c6401.png">
                    NE <div _ngcontent-serverapp-c172="" class="icon"><i _ngcontent-serverapp-c172="" class="event"></i>
                    </div>
                </li> -->
                <!-- <li _ngcontent-serverapp-c172="" class="<%=(location=='SPRIBE')?'active':'';%>" data-product="SPRIBE">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/895f4c09d40447e08db93b405a137101.png">
                    Spribe <div _ngcontent-serverapp-c172="" class="icon">
                    </div>
                </li> -->
                <!-- <li _ngcontent-serverapp-c172="" class="<%=(location=='RSG')?'active':'';%>" data-product="RSG">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/2fa9a42e3d6244888309e2caf8c8d958.png">
                    RSG <div _ngcontent-serverapp-c172="" class="icon">
                    </div>
                </li> -->
                <!-- <li _ngcontent-serverapp-c172="" class="<%=(location=='BSP')?'active':'';%>" data-product="BSP">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/f4453731f1af420e8eedc62816478a25.png">
                    BSP <div _ngcontent-serverapp-c172="" class="icon">
                    </div>
                </li> -->
                <!-- <li _ngcontent-serverapp-c172="" class="<%=(location=='GEM')?'active':'';%>" data-product="GEM">
                    <img _ngcontent-serverapp-c172="" class="mx-auto block h-10 max-w-full"
                        src="/cdn/system-requirement/Multimedia/Navigation/Mobile/Term/f4453731f1af420e8eedc62816478a25.png">
                    GEM Điện tử <div _ngcontent-serverapp-c172="" class="icon">
                    </div>
                </li> -->
            </ul>
        </div>
    </section>
</section>