<%- include('../../includes/header') %>

    <style>
        [_nghost-serverApp-c148] {
            display: block;
            min-height: 100%;
            padding-bottom: 100px;
            --tw-bg-opacity: 1;
            background-color: rgb(29 30 31 / var(--tw-bg-opacity))
        }

        [_nghost-serverApp-c148] .tab-wrapper {
            margin-top: -20px;
            --tw-bg-opacity: 1;
            background-color: rgb(39 40 42 / var(--tw-bg-opacity));
            border-radius: 5px
        }

        [_nghost-serverApp-c148] .tab-wrapper ul {
            display: flex;
            flex-wrap: wrap;
            height: 100%
        }

        [_nghost-serverApp-c148] .tab-wrapper ul li {
            position: relative;
            width: 33.33%;
            flex-shrink: 0
        }

        [_nghost-serverApp-c148] .tab-wrapper ul li>a,
        [_nghost-serverApp-c148] .tab-wrapper ul li>div {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            min-height: 65px;
            padding: 10px 0;
            --tw-text-opacity: 1;
            color: rgb(137 145 160 / var(--tw-text-opacity));
            justify-content: space-evenly;
            align-items: center
        }

        [_nghost-serverApp-c148] .tab-wrapper ul li>a.active,
        [_nghost-serverApp-c148] .tab-wrapper ul li>div.active {
            --tw-text-opacity: 1;
            color: rgb(255 77 0 / var(--tw-text-opacity))
        }

        [_nghost-serverApp-c148] .tab-wrapper ul li>a i,
        [_nghost-serverApp-c148] .tab-wrapper ul li>div i {
            margin-bottom: 3px;
            font-size: 18px;
            line-height: 22px
        }

        [_nghost-serverApp-c148] .tab-wrapper ul li>a span,
        [_nghost-serverApp-c148] .tab-wrapper ul li>div span {
            padding: 0 3px;
            font-size: 12px;
            line-height: 14px;
            text-align: center
        }

        [_nghost-serverApp-c148] .tab-wrapper ul li:before {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            height: 30px;
            width: 1px;
            --tw-bg-opacity: 1;
            background-color: rgb(137 145 160 / var(--tw-bg-opacity));
            transform: translateY(-50%)
        }

        [_nghost-serverApp-c148] .tab-wrapper ul li:nth-child(3n+3):before {
            content: none
        }

        [_nghost-serverApp-c148] .bottom-sheet-title {
            display: none
        }

        .m-0[_ngcontent-serverApp-c148] {
            margin: 0
        }

        .header[_ngcontent-serverApp-c148] {
            position: static;
            display: block;
            padding-top: 50px
        }

        .header[_ngcontent-serverApp-c148] .header-wrap[_ngcontent-serverApp-c148] {
            position: fixed;
            z-index: 5;
            top: 0;
            left: 0;
            right: 0;
            height: 49px;
            padding: 0 15px;
            --tw-text-opacity: 1;
            --tw-bg-opacity: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #fff;
            color: #d4453d;
        }

        .header[_ngcontent-serverApp-c148] .header-wrap[_ngcontent-serverApp-c148]:before {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            height: 1px;
            --tw-bg-opacity: 1;
            background-color: rgb(137 145 160 / var(--tw-bg-opacity));
            opacity: .7
        }

        .bottom[_ngcontent-serverApp-c148] {
            height: 90px;
            padding: 0 15px 0 33px;
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity));
            --tw-bg-opacity: 1;
            background-color: #d4453d;
        }

        .bottom-sheet-content .wrapper {
            --tw-text-opacity: 1;
            color: rgb(137 145 160 / var(--tw-text-opacity));
            --tw-bg-opacity: 1;
            background-color: rgb(29 30 31 / var(--tw-bg-opacity));
            border: none
        }

        .bottom-sheet-content .wrapper .btn-primary {
            min-width: 100px;
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity));
            --tw-bg-opacity: 1;
            background-color: rgb(255 77 0 / var(--tw-bg-opacity));
            --tw-border-opacity: 1;
            border-color: rgb(255 77 0 / var(--tw-border-opacity))
        }

        .bottom-sheet-content .wrapper .btn-secondary {
            min-width: 100px;
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity));
            --tw-bg-opacity: 1;
            background-color: rgb(29 30 31 / var(--tw-bg-opacity));
            --tw-border-opacity: 1;
            border-color: rgb(29 30 31 / var(--tw-border-opacity))
        }

        app-time-limited-event>.wrapper {
            background-color: transparent
        }

        app-time-limited-event .page-title {
            display: none
        }

        [_nghost-serverApp-c160] {
            display: block;
            height: 100%
        }
    </style>
    <style>
        .wrapper[_ngcontent-serverApp-c149] {
            padding: 0 19px 80px
        }

        .item-list[_ngcontent-serverApp-c149] {
            text-transform: uppercase
        }

        .content-wrapper[_ngcontent-serverApp-c149] {
            margin-top: 20px;
            --tw-bg-opacity: 1;
            background-color: rgb(39 40 42 / var(--tw-bg-opacity));
            border-radius: 5px;
        }

        .content-wrapper[_ngcontent-serverApp-c149] .bottom-sheet-content .wrapper {
            --tw-text-opacity: 1;
            color: rgb(137 145 160 / var(--tw-text-opacity));
            --tw-bg-opacity: 1;
            background-color: rgb(39 40 42 / var(--tw-bg-opacity));
            border: none
        }

        .content-wrapper[_ngcontent-serverApp-c149] .bottom-sheet-content .wrapper label {
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity))
        }

        .content-wrapper[_ngcontent-serverApp-c149] .bottom-sheet-content .wrapper input,
        .content-wrapper[_ngcontent-serverApp-c149] .bottom-sheet-content .wrapper select {
            --tw-text-opacity: 1;
            color: rgb(137 145 160 / var(--tw-text-opacity));
            --tw-bg-opacity: 1;
            background-color: rgb(39 40 42 / var(--tw-bg-opacity));
            --tw-border-opacity: 1;
            border-color: rgb(137 145 160 / var(--tw-border-opacity))
        }

        .content-wrapper[_ngcontent-serverApp-c149] .bottom-sheet-content .wrapper .btn-primary {
            min-width: 100px;
            --tw-text-opacity: 1;
            --tw-bg-opacity: 1;
            --tw-border-opacity: 1;
            color: #fff;
            background-color: #d4453d;
            border-color: #d4453d
        }

        .content-wrapper[_ngcontent-serverApp-c149] .bottom-sheet-content .wrapper .btn-secondary {
            min-width: 100px;
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity));
            --tw-bg-opacity: 1;
            background-color: rgb(29 30 31 / var(--tw-bg-opacity));
            --tw-border-opacity: 1;
            border-color: rgb(29 30 31 / var(--tw-border-opacity))
        }

        .content-wrapper[_ngcontent-serverApp-c149] .bottom-sheet-content .wrapper .tab.active {
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity));
            --tw-bg-opacity: 1;
            background-color: rgb(255 77 0 / var(--tw-bg-opacity));
            --tw-border-opacity: 1;
            border-color: rgb(255 77 0 / var(--tw-border-opacity))
        }
    </style>
    <style>
        .danger[_ngcontent-serverApp-c62] {
            color: #a94442;
            background: #f2dede;
            border: 1px solid #ebccd1
        }

        .warning[_ngcontent-serverApp-c62] {
            color: #8a6d3b;
            background: #fcf8e3;
            border: 1px solid #faebcc
        }

        .info[_ngcontent-serverApp-c62] {
            color: #31708f;
            background: #d9edf7;
            border: 1px solid #bce8f1
        }
    </style>
    <style>
        fieldset[_ngcontent-serverApp-c124]>div[_ngcontent-serverApp-c124] {
            position: relative;
            margin-bottom: .75rem
        }

        fieldset[_ngcontent-serverApp-c124]>div[_ngcontent-serverApp-c124] label[_ngcontent-serverApp-c124] {
            display: block;
            margin-bottom: .25rem;
            color: #000;
            font-size: 14px;
            font-weight: 700
        }

        fieldset[_ngcontent-serverApp-c124]>div[_ngcontent-serverApp-c124] input[_ngcontent-serverApp-c124] {
            display: block;
            width: 100%;
            height: 2rem;
            padding: 0 .5rem;
            color: #444;
            font-size: .875rem;
            line-height: 2.5rem;
            background-color: #fff;
            border-radius: 4px;
            border: 1px solid #ccc;
            outline-style: none
        }

        fieldset[_ngcontent-serverApp-c124] .has-warning[_ngcontent-serverApp-c124] label[_ngcontent-serverApp-c124] {
            color: #a94442
        }

        fieldset[_ngcontent-serverApp-c124] .has-warning[_ngcontent-serverApp-c124] input[_ngcontent-serverApp-c124] {
            border-color: #a94442
        }

        fieldset[_ngcontent-serverApp-c124] .errorTip[_ngcontent-serverApp-c124] {
            display: block;
            margin: 5px 0 10px;
            color: #a94442
        }

        fieldset[_ngcontent-serverApp-c124] .btn[_ngcontent-serverApp-c124] {
            padding: 6px 12px;
            margin: 0 5px;
            text-align: center;
            color: #333;
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 4px
        }
    </style>

    <body class="mat-typography vi-VN">
        <app-root _nghost-sc178="" ng-version="14.2.12" ng-server-context="other" _nghost-serverapp-c157="">
            <app-sample-layout _nghost-serverapp-c91="">
                <app-member-layout _nghost-serverapp-c148="" style="background-color: #fff;">


                    <header _ngcontent-serverapp-c148="" class="header">
                        <div _ngcontent-serverapp-c148="" class="header-wrap">
                            <div _ngcontent-serverapp-c148="" class="flex" onclick="window.location='/account'">
                                <div _ngcontent-serverapp-c148="" class="mr-4">
                                    <i _ngcontent-serverapp-c148="" class="fas fa-arrow-left text-2xl"></i>
                                </div>
                                <h2 _ngcontent-serverapp-c148="" style="color: #d4453d;" class="text-customized-text-secondary m-0 uppercase">
                                    ĐỔI MẬT KHẨU RÚT TIỀN
                                </h2>
                            </div>
                            <div _ngcontent-serverapp-c148="" class="bar btn-open-right-sidebar">
                                <i _ngcontent-serverapp-c148="" class="fas fa-bars text-2xl"></i>
                            </div>
                        </div>

                        <section _ngcontent-serverapp-c148="" class="bottom fl">
                            <div _ngcontent-serverapp-c148="" class="inline-block text-sm">
                                <p _ngcontent-serverapp-c148="" class="m-0 pt-3" style="text-transform: uppercase;">
                                    <span _ngcontent-serverapp-c148="">
                                        <%=dataPage.session.user.username%>
                                    </span>
                                </p>
                                <div _ngcontent-serverapp-c148="" class="mt-1">
                                    <span _ngcontent-serverapp-c148="" class="mx-0.5 text-2xl" style="color: #fff;">
                                        <%=dataPage.helpers.numberWithCommas(dataPage.session.user.coin)%>
                                    </span>
                                    <span _ngcontent-serverapp-c148=""
                                        class="currency text-customized-text-tertiary mt-1 inline-block align-top" style="color: #fff;">VND</span>
                                </div>
                            </div>
                            <div _ngcontent-serverapp-c148="" class="float-right pt-6"><a _ngcontent-serverapp-c148=""
                                    href="/account"><i _ngcontent-serverapp-c148=""
                                        class="fas fa-user-circle text-customized-text-primary text-4xl" style="color: #fff;"></i></a></div>
                        </section>

                    </header>


                    <app-user-security-layout _nghost-serverapp-c149="" class="ng-star-inserted">
                        <div _ngcontent-serverapp-c149="" class="wrapper">

                            <section _ngcontent-serverapp-c149="" class="content-wrapper">
                                
                                <app-change-password _nghost-serverapp-c124="" class="ng-star-inserted">

                                    <section _ngcontent-serverapp-c124="" class="bottom-sheet-content">
                                        <div _ngcontent-serverapp-c124=""
                                            class="wrapper overflow-y-auto bg-white p-3 text-black" style="background-color: #fff;">


                                    
                                            <app-alert-tip _ngcontent-serverapp-c124="" _nghost-serverapp-c62="">
                                                <div _ngcontent-serverapp-c62=""
                                                    class="mb-5 rounded border p-4 text-center info ng-star-inserted">
                                                    <i _ngcontent-serverapp-c62="" class="fas mr-1 fa-info-circle"></i>
                                                    <span _ngcontent-serverapp-c62="">
                                                        Mật khẩu RÚT TIỀN dành cho việc rút tiền, vui lòng không tiết lộ cho bất kì ai.
                                                    </span>
                                                </div>
                                            </app-alert-tip>

                                            <form _ngcontent-serverapp-c124="" novalidate="" id="form-changpwd"
                                                class="w-full ng-pristine ng-invalid ng-touched"
                                                onsubmit="event.preventDefault();">
                                                <fieldset _ngcontent-serverapp-c124="">
                                                    <div _ngcontent-serverapp-c124="" id="oldPasswordBody">
                                                        <label _ngcontent-serverapp-c124="" style="color: #000;">Mật khẩu ban
                                                            đầu</label>
                                                        <input _ngcontent-serverapp-c124="" type="password"
                                                            id="oldpassword" formcontrolname="oldPassword"
                                                            style="background-color: #fff;"
                                                            placeholder="Xin nhập mật khẩu cũ"
                                                            class="ng-pristine ng-invalid ng-touched">
                                                    </div>

                                                    <div _ngcontent-serverapp-c124="">
                                                        <label _ngcontent-serverapp-c124="" style="color: #000;">Mật khẩu mới
                                                        </label>
                                                        <input _ngcontent-serverapp-c124="" type="password"
                                                            style="background-color: #fff;"
                                                            id="newpassword" formcontrolname="newPassword"
                                                            placeholder="Hơn&nbsp;6&nbsp;ký tự phải bao gồm chữ cái và số"
                                                            class="ng-pristine ng-invalid ng-touched">
                                                    </div>

                                                    <div _ngcontent-serverapp-c124="">
                                                        <label _ngcontent-serverapp-c124="" style="color: #000;">Xác nhận mật khẩu
                                                            mới
                                                        </label>
                                                        <input _ngcontent-serverapp-c124="" type="password"
                                                            id="confirmpassword" formcontrolname="confirm"
                                                            style="background-color: #fff;"
                                                            placeholder="Xin nhập lại mật khẩu mới của bạn"
                                                            class="ng-untouched ng-pristine ng-invalid">
                                                    </div>
                                                </fieldset>


                                                <fieldset _ngcontent-serverapp-c124="">
                                                    <div _ngcontent-serverapp-c124="" class="mt-4 text-center">
                                                        <button _ngcontent-serverapp-c124="" type="submit"
                                                            id="btn-submit-changepwd" class="btn btn-primary">
                                                            <span _ngcontent-serverapp-c124="" class="ng-star-inserted">
                                                                THAY
                                                                ĐỔI
                                                            </span>
                                                        </button>
                                                        <button _ngcontent-serverapp-c124="" type="button" style="background: #fff; color: #000"
                                                            id="btn-cancel-changepwd" class="btn btn-secondary">
                                                            HOÀN TÁC
                                                        </button>
                                                    </div>
                                                </fieldset>
                                            </form>

                                        </div>
                                    </section>
                                </app-change-password>
                            </section>
                        </div>
                    </app-user-security-layout>


                    <!-- Menu Bar -->
                    <%- include('../../includes/menu_bar') %>
                        <!-- END Menu Bar -->

                </app-member-layout>


                <!-- SideBar Menu -->
                <%- include('../../includes/sidebar_menu') %>
                    <!-- END SideBar Menu -->

            </app-sample-layout>
        </app-root>

        <!-- Notify Modal -->
        <%- include('../../includes/notify_modal') %>
            <!-- END Notify Modal -->
    </body>

    <script type="text/javascript" src="/core/js/account/password-security.js"></script>
    <%- include('../../includes/footer') %>