<%- include('../../includes/header') %>
  <style>
    [_nghost-serverApp-c148] {
      display: block;
      min-height: 100%;
      padding-bottom: 100px;
      --tw-bg-opacity: 1;
      background-color: rgb(29 30 31 / var(--tw-bg-opacity))
    }

    [_nghost-serverApp-c148] .tab-wrapper {
      margin-top: -20px;
      --tw-bg-opacity: 1;
      background-color: rgb(39 40 42 / var(--tw-bg-opacity));
      border-radius: 5px
    }

    [_nghost-serverApp-c148] .tab-wrapper ul {
      display: flex;
      flex-wrap: wrap;
      height: 100%
    }

    [_nghost-serverApp-c148] .tab-wrapper ul li {
      position: relative;
      width: 33.33%;
      flex-shrink: 0
    }

    [_nghost-serverApp-c148] .tab-wrapper ul li>a,
    [_nghost-serverApp-c148] .tab-wrapper ul li>div {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      min-height: 65px;
      padding: 10px 0;
      --tw-text-opacity: 1;
      color: rgb(137 145 160 / var(--tw-text-opacity));
      justify-content: space-evenly;
      align-items: center
    }

    [_nghost-serverApp-c148] .tab-wrapper ul li>a.active,
    [_nghost-serverApp-c148] .tab-wrapper ul li>div.active {
      --tw-text-opacity: 1;
      color: rgb(255 77 0 / var(--tw-text-opacity))
    }

    [_nghost-serverApp-c148] .tab-wrapper ul li>a i,
    [_nghost-serverApp-c148] .tab-wrapper ul li>div i {
      margin-bottom: 3px;
      font-size: 18px;
      line-height: 22px
    }

    [_nghost-serverApp-c148] .tab-wrapper ul li>a span,
    [_nghost-serverApp-c148] .tab-wrapper ul li>div span {
      padding: 0 3px;
      font-size: 12px;
      line-height: 14px;
      text-align: center
    }

    [_nghost-serverApp-c148] .tab-wrapper ul li:before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      height: 30px;
      width: 1px;
      --tw-bg-opacity: 1;
      background-color: rgb(137 145 160 / var(--tw-bg-opacity));
      transform: translateY(-50%)
    }

    [_nghost-serverApp-c148] .tab-wrapper ul li:nth-child(3n+3):before {
      content: none
    }

    [_nghost-serverApp-c148] .bottom-sheet-title {
      display: none
    }

    .m-0[_ngcontent-serverApp-c148] {
      margin: 0
    }

    .header[_ngcontent-serverApp-c148] {
      position: static;
      display: block;
      padding-top: 50px
    }

    .header[_ngcontent-serverApp-c148] .header-wrap[_ngcontent-serverApp-c148] {
      position: fixed;
      z-index: 5;
      top: 0;
      left: 0;
      right: 0;
      height: 49px;
      padding: 0 15px;
      --tw-text-opacity: 1;
      --tw-bg-opacity: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #fff;
      color: #d4453d;
    }

    .header[_ngcontent-serverApp-c148] .header-wrap[_ngcontent-serverApp-c148]:before {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 1px;
      --tw-bg-opacity: 1;
      background-color: rgb(137 145 160 / var(--tw-bg-opacity));
      opacity: .7
    }

    .bottom[_ngcontent-serverApp-c148] {
      height: 90px;
      padding: 0 15px 0 33px;
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
      --tw-bg-opacity: 1;
      background-color: #d4453d;
    }

    .bottom-sheet-content .wrapper {
      --tw-text-opacity: 1;
      color: rgb(137 145 160 / var(--tw-text-opacity));
      --tw-bg-opacity: 1;
      background-color: rgb(29 30 31 / var(--tw-bg-opacity));
      border: none
    }

    .bottom-sheet-content .wrapper .btn-primary {
      min-width: 100px;
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
      --tw-bg-opacity: 1;
      background-color: rgb(255 77 0 / var(--tw-bg-opacity));
      --tw-border-opacity: 1;
      border-color: rgb(255 77 0 / var(--tw-border-opacity))
    }

    .bottom-sheet-content .wrapper .btn-secondary {
      min-width: 100px;
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
      --tw-bg-opacity: 1;
      background-color: rgb(29 30 31 / var(--tw-bg-opacity));
      --tw-border-opacity: 1;
      border-color: rgb(29 30 31 / var(--tw-border-opacity))
    }

    app-time-limited-event>.wrapper {
      background-color: transparent
    }

    app-time-limited-event .page-title {
      display: none
    }

    [_nghost-serverApp-c160] {
      display: block;
      height: 100%
    }
  </style>
  <style>
    .wrapper[_ngcontent-serverApp-c149] {
      padding: 0 19px 80px
    }

    .item-list[_ngcontent-serverApp-c149] {
      text-transform: uppercase
    }

    .content-wrapper[_ngcontent-serverApp-c149] {
      margin-top: 20px;
      --tw-bg-opacity: 1;
      background-color: rgb(39 40 42 / var(--tw-bg-opacity));
      border-radius: 5px;
    }

    .content-wrapper[_ngcontent-serverApp-c149] .bottom-sheet-content .wrapper {
      --tw-text-opacity: 1;
      color: rgb(137 145 160 / var(--tw-text-opacity));
      --tw-bg-opacity: 1;
      background-color: rgb(39 40 42 / var(--tw-bg-opacity));
      border: none
    }

    .content-wrapper[_ngcontent-serverApp-c149] .bottom-sheet-content .wrapper label {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity))
    }

    .content-wrapper[_ngcontent-serverApp-c149] .bottom-sheet-content .wrapper input,
    .content-wrapper[_ngcontent-serverApp-c149] .bottom-sheet-content .wrapper select {
      --tw-text-opacity: 1;
      color: rgb(137 145 160 / var(--tw-text-opacity));
      --tw-bg-opacity: 1;
      background-color: rgb(39 40 42 / var(--tw-bg-opacity));
      --tw-border-opacity: 1;
      border-color: rgb(137 145 160 / var(--tw-border-opacity))
    }

    .content-wrapper[_ngcontent-serverApp-c149] .bottom-sheet-content .wrapper .btn-primary {
      min-width: 100px;
      --tw-text-opacity: 1;
      --tw-bg-opacity: 1;
      --tw-border-opacity: 1;
      color: #fff;
      background-color: #d4453d;
      border-color: #d4453d
    }

    .content-wrapper[_ngcontent-serverApp-c149] .bottom-sheet-content .wrapper .btn-secondary {
      min-width: 100px;
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
      --tw-bg-opacity: 1;
      background-color: rgb(29 30 31 / var(--tw-bg-opacity));
      --tw-border-opacity: 1;
      border-color: rgb(29 30 31 / var(--tw-border-opacity))
    }

    .content-wrapper[_ngcontent-serverApp-c149] .bottom-sheet-content .wrapper .tab.active {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
      --tw-bg-opacity: 1;
      background-color: rgb(255 77 0 / var(--tw-bg-opacity));
      --tw-border-opacity: 1;
      border-color: rgb(255 77 0 / var(--tw-border-opacity))
    }
  </style>
  <style>
    .danger[_ngcontent-serverApp-c62] {
      color: #a94442;
      background: #f2dede;
      border: 1px solid #ebccd1
    }

    .warning[_ngcontent-serverApp-c62] {
      color: #8a6d3b;
      background: #fcf8e3;
      border: 1px solid #faebcc
    }

    .info[_ngcontent-serverApp-c62] {
      color: #31708f;
      background: #d9edf7;
      border: 1px solid #bce8f1
    }
  </style>
  <style>
    fieldset[_ngcontent-serverApp-c124]>div[_ngcontent-serverApp-c124] {
      position: relative;
      margin-bottom: .75rem
    }

    fieldset[_ngcontent-serverApp-c124]>div[_ngcontent-serverApp-c124] label[_ngcontent-serverApp-c124] {
      display: block;
      margin-bottom: .25rem;
      color: #000;
      font-size: 14px;
      font-weight: 700
    }

    fieldset[_ngcontent-serverApp-c124]>div[_ngcontent-serverApp-c124] input[_ngcontent-serverApp-c124] {
      display: block;
      width: 100%;
      height: 2rem;
      padding: 0 .5rem;
      color: #444;
      font-size: .875rem;
      line-height: 2.5rem;
      background-color: #fff;
      border-radius: 4px;
      border: 1px solid #ccc;
      outline-style: none
    }

    fieldset[_ngcontent-serverApp-c124] .has-warning[_ngcontent-serverApp-c124] label[_ngcontent-serverApp-c124] {
      color: #a94442
    }

    fieldset[_ngcontent-serverApp-c124] .has-warning[_ngcontent-serverApp-c124] input[_ngcontent-serverApp-c124] {
      border-color: #a94442
    }

    fieldset[_ngcontent-serverApp-c124] .errorTip[_ngcontent-serverApp-c124] {
      display: block;
      margin: 5px 0 10px;
      color: #a94442
    }

    fieldset[_ngcontent-serverApp-c124] .btn[_ngcontent-serverApp-c124] {
      padding: 6px 12px;
      margin: 0 5px;
      text-align: center;
      color: #333;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 4px
    }
  </style>
  <style>
    .wrapper[_ngcontent-serverApp-c182] {
      padding: 0 19px 80px
    }

    .tab-wrapper[_ngcontent-serverApp-c182] i[_ngcontent-serverApp-c182] {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 3px
    }

    .tab-wrapper[_ngcontent-serverApp-c182] i[_ngcontent-serverApp-c182] img[_ngcontent-serverApp-c182] {
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
      transform: scale(.9)
    }

    .content-wrapper[_ngcontent-serverApp-c182] {
      margin-top: 20px;
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity))
    }

    app-deposit-methods>div.wrapper,
    app-withdraw-layout>div.wrapper {
      margin: 0;
      padding: 11px;
    }

    .svg[_ngcontent-serverApp-c182] {
      width: 100%;
      height: 34px;
      margin-bottom: 6px;
      --tw-bg-opacity: 1;
      background-color: rgb(137 145 160 / var(--tw-bg-opacity))
    }

    .svg.svg1[_ngcontent-serverApp-c182] {
      -webkit-mask-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/01.16a325e47115cc96.svg);
      mask-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/01.16a325e47115cc96.svg);
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat
    }

    .svg.svg2[_ngcontent-serverApp-c182] {
      -webkit-mask-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/02.ca9d11e444d9d91b.svg);
      mask-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/02.ca9d11e444d9d91b.svg);
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat
    }

    .svg.svg3[_ngcontent-serverApp-c182] {
      -webkit-mask-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/03.6e951d388735a252.svg);
      mask-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/03.6e951d388735a252.svg);
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat
    }

    .active[_ngcontent-serverApp-c182] .svg[_ngcontent-serverApp-c182] {
      --tw-bg-opacity: 1;
      background-color: rgb(255 77 0 / var(--tw-bg-opacity))
    }

    .go[_ngcontent-serverApp-c182] {
      display: block;
      width: 10rem;
      margin: 20px auto;
      text-align: center;
      line-height: 2;
      border-radius: 4px;
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
      --tw-bg-opacity: 1;
      background-color: rgb(255 77 0 / var(--tw-bg-opacity))
    }
  </style>
  <style>
    .method[_ngcontent-serverApp-c178] {
      position: relative;
      width: calc(33.3333333333% - 6px);
      min-height: 76px;
      padding: 0 .25rem;
      margin: 0 0 6px 5px;
      border: 3px solid transparent;
      border-radius: 5px;
      box-sizing: border-box
    }

    .method[_ngcontent-serverApp-c178]:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 3px
    }

    .method[_ngcontent-serverApp-c178] [_ngcontent-serverApp-c178]:nth-child(3n) {
      margin-right: 0
    }

    .method.select[_ngcontent-serverApp-c178]:before {
      --tw-bg-opacity: 1;
      background-color: rgb(255 77 0 / var(--tw-bg-opacity))
    }

    .method[_ngcontent-serverApp-c178] {
      display: flex;
      width: 48%;
      min-height: 47px
    }

    .method[_ngcontent-serverApp-c178] i[_ngcontent-serverApp-c178] {
      flex: 0 0 auto
    }

    .method[_ngcontent-serverApp-c178] p[_ngcontent-serverApp-c178] {
      margin: 0 0 0 5px
    }

    .global[_ngcontent-serverApp-c178] {
      width: 20px;
      height: 20px;
      margin: 8px 0;
      background-color: #55eb75;
      -webkit-mask-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/globalization.72c0bd7a26213232.svg);
      mask-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/globalization.72c0bd7a26213232.svg);
      -webkit-mask-size: contain;
      mask-size: contain
    }

    .qrcode[_ngcontent-serverApp-c178] {
      width: 20px;
      height: 20px;
      margin: 8px 0;
      background-color: #f9bb1f;
      -webkit-mask-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/qr_code.68ab5f67ced9fb5c.svg);
      mask-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/qr_code.68ab5f67ced9fb5c.svg);
      -webkit-mask-size: contain;
      mask-size: contain
    }

    .momo[_ngcontent-serverApp-c178] {
      width: 20px;
      height: 20px;
      margin: 8px 0;
      background-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/momo.e8f46bb755fe4792.png);
      background-size: contain
    }

    .g-cash[_ngcontent-serverApp-c178] {
      width: 20px;
      height: 20px;
      margin: 8px 0;
      background-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/gcash.66aeeff8753b523f.png);
      background-size: contain
    }

    .grab-pay[_ngcontent-serverApp-c178] {
      width: 20px;
      height: 20px;
      margin: 8px 0;
      background-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/grabpay.1c55332c579f1cc6.png);
      background-size: contain
    }

    .zalo-pay[_ngcontent-serverApp-c178] {
      width: 20px;
      height: 20px;
      margin: 8px 0;
      background-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/zalopay.a25321f522ede0a9.png);
      background-size: contain
    }

    .vt-pay[_ngcontent-serverApp-c178] {
      width: 20px;
      height: 20px;
      margin: 8px 0;
      background-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/vtpay.8edf12e96dded4f8.png);
      background-size: contain
    }

    .scratch[_ngcontent-serverApp-c178] {
      width: 20px;
      height: 20px;
      margin: 8px 0;
      background-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/scratch.3221421a6c352f2a.png);
      background-size: contain
    }

    .true-money-wallet[_ngcontent-serverApp-c178] {
      width: 20px;
      height: 20px;
      margin: 8px 0;
      background-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/truemoneywallet.e8defc91abdac3a6.png);
      background-size: contain
    }

    .payMaya[_ngcontent-serverApp-c178] {
      width: 20px;
      height: 20px;
      margin: 8px 0;
      background-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/paymaya.ccd44d75111236c4.png);
      background-size: contain
    }

    .usdt[_ngcontent-serverApp-c178] {
      width: 20px;
      height: 20px;
      margin: 8px 0;
      background-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/usdt.a718e76b05478de7.png);
      background-size: contain
    }

    .prompt-pay[_ngcontent-serverApp-c178] {
      width: 20px;
      height: 20px;
      margin: 8px 0;
      background-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/promptppay.874d5d93e44fb8a6.png);
      background-size: contain
    }

    .unionpay[_ngcontent-serverApp-c178] {
      width: 20px;
      height: 20px;
      margin: 8px 0;
      background-color: #00dcff;
      -webkit-mask-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/unionpay.47482ca22bb0a1b4.svg);
      mask-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/unionpay.47482ca22bb0a1b4.svg);
      -webkit-mask-size: contain;
      mask-size: contain
    }

    .sevenEleven[_ngcontent-serverApp-c178] {
      width: 20px;
      height: 20px;
      margin: 8px 0;
      background-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/sevenEleven.d3676a83f54ded68.png);
      background-size: contain
    }

    .upi[_ngcontent-serverApp-c178] {
      width: 20px;
      height: 20px;
      margin: 8px 0;
      background-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/upi.0dc480ba93cbc4b7.png);
      background-size: contain
    }

    .pix[_ngcontent-serverApp-c178] {
      width: 20px;
      height: 20px;
      margin: 8px 0;
      background-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/pix.c517d70ecbcae6d2.png);
      background-size: contain
    }
  </style>
  <style>
    .payment[_ngcontent-serverApp-c177] .submit[_ngcontent-serverApp-c177] {
      display: block;
      width: 100%;
      font-size: 16px;
      line-height: 40px;
      text-align: center;
      border-radius: 4px;
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
      --tw-bg-opacity: 1;
      background-color: rgb(255 77 0 / var(--tw-bg-opacity));
      --tw-border-opacity: 1;
      border-color: rgb(255 77 0 / var(--tw-border-opacity))
    }

    .payment[_ngcontent-serverApp-c177] button:disabled {
      --tw-bg-opacity: 1 !important;
      background-color: rgb(0 0 0 / var(--tw-bg-opacity)) !important;
      --tw-text-opacity: 1 !important;
      color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
      opacity: .3;
      cursor: not-allowed
    }

    .payment-way[_ngcontent-serverApp-c177] p[_ngcontent-serverApp-c177] {
      margin-bottom: 0
    }

    .payment-way[_ngcontent-serverApp-c177] p.title[_ngcontent-serverApp-c177] {
      margin-bottom: 10px
    }

    .recommend[_ngcontent-serverApp-c177] {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity))
    }

    .recommend.normal[_ngcontent-serverApp-c177] {
      --tw-bg-opacity: 1;
      background-color: rgb(137 145 160 / var(--tw-bg-opacity));
      --tw-border-opacity: 1;
      border-color: rgb(137 145 160 / var(--tw-border-opacity))
    }

    .recommend.active[_ngcontent-serverApp-c177] {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
      --tw-bg-opacity: 1;
      background-color: rgb(255 77 0 / var(--tw-bg-opacity));
      --tw-border-opacity: 1;
      border-color: rgb(255 77 0 / var(--tw-border-opacity))
    }

    .bank-icon {
      width: 20px;
      height: 20px;
      margin-right: 8px 0;
      background-color: #f9a21f;
      -webkit-mask: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/9f9c8df554bf188532e64d8387de062b.svg) no-repeat center;
      mask: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/9f9c8df554bf188532e64d8387de062b.svg) no-repeat center;
    }

    .deposit-service {
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
      align-items: center;
      height: 48px;
      font-size: 14px;
      font-weight: 500;
      background: #262626;
      border-radius: 10px;
      cursor: pointer;
    }

    .payment[_ngcontent-serverApp-c177] .submit[_ngcontent-serverApp-c177] {
      display: block;
      width: 100%;
      font-size: 16px;
      line-height: 40px;
      text-align: center;
      border-radius: 4px;
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
      --tw-bg-opacity: 1;
      background-color: rgb(255 77 0 / var(--tw-bg-opacity));
      --tw-border-opacity: 1;
      border-color: rgb(255 77 0 / var(--tw-border-opacity))
    }

    .payment[_ngcontent-serverApp-c177] button:disabled {
      --tw-bg-opacity: 1 !important;
      background-color: rgb(0 0 0 / var(--tw-bg-opacity)) !important;
      --tw-text-opacity: 1 !important;
      color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
      opacity: .3;
      cursor: not-allowed
    }

    .payment-way[_ngcontent-serverApp-c177] p[_ngcontent-serverApp-c177] {
      margin-bottom: 0
    }

    .payment-way[_ngcontent-serverApp-c177] p.title[_ngcontent-serverApp-c177] {
      margin-bottom: 10px
    }

    .recommend[_ngcontent-serverApp-c177] {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity))
    }

    .recommend.normal[_ngcontent-serverApp-c177] {
      --tw-bg-opacity: 1;
      background-color: rgb(137 145 160 / var(--tw-bg-opacity));
      --tw-border-opacity: 1;
      border-color: rgb(137 145 160 / var(--tw-border-opacity))
    }

    .recommend.active[_ngcontent-serverApp-c177] {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
      --tw-bg-opacity: 1;
      background-color: rgb(255 77 0 / var(--tw-bg-opacity));
      --tw-border-opacity: 1;
      border-color: rgb(255 77 0 / var(--tw-border-opacity))
    }

    .bank-icon {
      width: 20px;
      height: 20px;
      margin-right: 8px 0;
      background-color: #f9a21f;
      -webkit-mask: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/9f9c8df554bf188532e64d8387de062b.svg) no-repeat center;
      mask: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/9f9c8df554bf188532e64d8387de062b.svg) no-repeat center;
    }

    .deposit-service {
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
      align-items: center;
      height: 72px;
      font-size: 14px;
      font-weight: 500;
      background: #262626;
      border-radius: 10px;
      cursor: pointer;
    }

    .wallet-transfer-in {
      width: 40px;
      height: 40px;
      background: url(https://i.imgur.com/QCqGGoq.png) no-repeat center;
      background-size: contain;
    }

    .wallet-transfer-out {
      width: 40px;
      height: 40px;
      background: url(https://i.imgur.com/kZfiOZq.png) no-repeat center;
      background-size: contain;
    }

    ._3lsn-9-R1KxDnv9_koaEkC {
      margin: 0 auto;
    }

    ._3CMDGIALq8HDo4XBIBIB0c {
      background: #262626;
      border-radius: 10px;
    }

    .panel {
      margin-bottom: 20px;
      background-color: #fff;
      border: 1px solid transparent;
      border-radius: 4px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }

    ._3CMDGIALq8HDo4XBIBIB0c .panel-body {
      padding: 15px 30px;
    }

    ._3CMDGIALq8HDo4XBIBIB0c {
      background: #262626;
      border-radius: 10px;
    }

    .row {
      margin-right: -15px;
      margin-left: -15px;
    }

    fieldset {
      min-width: 0;
      padding: 0;
      margin: 0;
      border: 0;
    }

    .list-inline {
      padding-left: 0;
      list-style: none;
      margin-left: -5px;
    }

    ._7xUDK8Nc4sibXVDvqFf9H li {
      width: 100px;
      height: 40px;
      margin: 0 10px 10px 0;
      padding: 0 5px;
      color: #fff;
      font-size: 14px;
      line-height: 38px;
      text-align: center;
      background: #444;
      border-radius: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
    }

    ._7xUDK8Nc4sibXVDvqFf9H li.selected {
      font-weight: 600;
      color: #fff;
      background: #00e2ff7d;
    }

    .flex-list {
      flex-wrap: wrap;
      display: flex;
    }

    .flex-list li {
      width: 30%;
    }

    fieldset[_ngcontent-serverApp-c124]>div[_ngcontent-serverApp-c124] input[_ngcontent-serverApp-c124] {
      --tw-text-opacity: 1;
      color: rgb(137 145 160 / var(--tw-text-opacity));
      --tw-bg-opacity: 1;
      background-color: rgb(39 40 42 / var(--tw-bg-opacity));
      --tw-border-opacity: 1;
      border-color: rgb(137 145 160 / var(--tw-border-opacity));

      display: block;
      width: 100%;
      height: 2rem;
      padding: 0 0.5rem;
      color: #444;
      font-size: .875rem;
      line-height: 2.5rem;
      border-radius: 4px;
      border: 1px solid #ccc;
      outline-style: none;
      color: #fff;
    }

    .btn-primary {
      min-width: 100px;
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
      --tw-bg-opacity: 1;
      background-color: rgb(255 77 0 / var(--tw-bg-opacity));
      --tw-border-opacity: 1;
      border-color: rgb(255 77 0 / var(--tw-border-opacity));
    }

    .flex-list {
      flex-wrap: wrap;
      display: flex;
    }

    .flex-list li {
      width: 30%;
    }

    .list-inline {
      padding-left: 0;
      list-style: none;
      margin-left: -5px;
    }

    ._7xUDK8Nc4sibXVDvqFf9H li {
      width: 30%;
      height: 40px;
      margin: 0 10px 10px 0;
      padding: 0 5px;
      color: #fff;
      font-size: 14px;
      line-height: 38px;
      text-align: center;
      background: #444;
      border-radius: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
    }

    .containerProgress {
      background-color: #fff;
    }

    .containerProgress .item {
      display: none;
      background: #fff;
      color: #d4453d;
      border: 2px solid;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      padding: 10px;
      width: 220px;
      margin: auto;
    }

    .containerProgress .item.active {
      display: flex;
    }

    .containerProgress .item span {
      border: 2px solid;
      border-radius: 50%;
      padding: 11px 16px;
      background: #d4453d;
      color: #fff;
      margin-right: 1rem;
    }

    .containerProgress .item p {
      margin: 0;
    }

    .functionPayment {
      background: #fff;
      color: #000;
      padding-top: 2rem;
    }

    .functionPayment img {
      max-width: 80%;
      margin: auto;
    }

    .functionPayment h2 {
      margin: 0;
    }

    .selectAmount {
      background-color: #fff;
    }

    .deposit-select-amount li.selected {
      background-color: #d4453d !important;
    }

    .secondStep {
      background: #fff;
      padding: 20px 0;
    }

    .modal_secondStep {
      margin: auto;
      width: 90%;
      background: white;
    }

    .modal_secondStep .title {
      background: #000;
      color: white;
      padding: 10px;
      font-size: 17px;
      font-weight: 600;
      text-align: center;
    }

    .modal_secondStep .logo {
      background: white;
      text-align: center;
    }

    .modal_secondStep .logo img {
      max-width: 150px;
      margin: auto;
    }

    .content {
      padding: 0 20px;
      color: #000;
    }

    .content div {
      display: flex;
      border-bottom: 1px solid #c6c4c4;
      justify-content: space-between;
      padding: 6px 10px;
    }

    .content p {
      margin: 0;
    }

    .content__tentk {
      border-top: 1px solid #c6c4c4;
    }

    .qrCode {
      text-align: center;
      margin-top: 2rem;
      width: 100%;
    }

    .qrCode img {
      max-width: 160px;
      max-height: 180px;
      margin: auto;
    }

    .confirmDeposit {
      text-align: center;
      padding: 0.5rem 0 2rem 0;
    }

    .confirmDeposit button {
      padding: 8px 39px;
      border-radius: 8px;
      outline: none;
      border: none;
      color: white;
      background: #d4453d;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      margin-top: 2rem;
    }

    /* MODAL CONFIRM DEPOSIT */
    .confirmDeposit-layout {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1000;
    }

    .confirmDeposit-modal {
      background: #fff;
      width: 80%;
      color: #000;
      max-width: 510px;
      border-radius: 10px 10px 10px 10px;
    }

    .confirmDeposit-modal__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #000;
      padding: 10px;
      color: white;
      border-radius: 10px 10px 0 0;
    }

    .confirmDeposit-modal__title h2 {
      font-size: 20px;
      margin: 0;
    }

    .confirmDeposit-modal__title button {
      background: transparent;
      border: none;
    }

    .confirmDeposit-modal__content {
      padding: 10px;
      font-size: 16px;
    }

    .confirmDeposit-modal__active {
      text-align: center;
      border-radius: 0 0 10px 10px;
    }

    .confirmDeposit-modal__active button {
      width: 100%;
      padding: 5px 0;
      border: none;
      border-radius: 0 0 10px 10px;
      background: #d4453d;
      color: white;
      font-weight: 600;
    }
  </style>

  <style>
    #listBank {
      background: #fff;
      color: #000;
      padding: 10px 0;
    }

    #listBank h4 {
      font-weight: 500;
    }

    .toto-top-up__payment-methods {
      padding: 0 24px;
    }

    .toto-top-up__payment-method-item {
      border: 1px solid #aba8a8;
      border-radius: 10px;
      margin: 10px;
    }

    .toto-top-up__payment-method-item--selected::after,
    .toto-top-up__payment-method-item--selected:hover::after {
      display: inline-block;
      background-color: #d4453d;
    }

    .toto-top-up__payment-method-item--selected::before,
    .toto-top-up__payment-method-item--selected:hover::before {
      display: inline-block;
      border-color: #d4453d;
    }

    .toto-top-up__payment-method-item--selected,
    .toto-top-up__payment-method-item--selected:hover {
      border: 4px solid #d4453d;
    }
  </style>

  <body class="mat-typography vi-VN">
    <app-root _nghost-sc178="" ng-version="14.2.12" ng-server-context="other" _nghost-serverapp-c157="">
      <app-sample-layout _nghost-serverapp-c91="">
        <app-member-layout _nghost-serverapp-c148="" style="background-color: #fff;">
          <header _ngcontent-serverapp-c148="" class="header">
            <div _ngcontent-serverapp-c148="" class="header-wrap" style="background: #fff;color: #d4453d;">
              <div _ngcontent-serverapp-c148="" class="flex" onclick="window.location='/account'">
                <div _ngcontent-serverapp-c148="" class="mr-4">
                  <i _ngcontent-serverapp-c148="" class="fas fa-arrow-left text-2xl"></i>
                </div>
                <h2 _ngcontent-serverapp-c148="" style="color: #d4453d;"
                  class="text-customized-text-secondary m-0 uppercase">
                  NẠP TIỀN
                </h2>
              </div>
              <div _ngcontent-serverapp-c148="" class="bar btn-open-right-sidebar">
                <i _ngcontent-serverapp-c148="" class="fas fa-bars text-2xl"></i>
              </div>
            </div>

            <section _ngcontent-serverapp-c148="" class="bottom fl" style="background: #d4453d;color: #fff;">
              <div _ngcontent-serverapp-c148="" class="inline-block text-sm">
                <p _ngcontent-serverapp-c148="" class="m-0 pt-3">

                  <span _ngcontent-serverapp-c148="" class="sidebar-name" style="text-transform: uppercase;">
                    <%=dataPage.session.user.username%>
                  </span>
                </p>
                <div _ngcontent-serverapp-c148="" class="mt-1">
                  <span _ngcontent-serverapp-c148="" style="color: #fff;" class="mx-0.5 text-2xl">
                    <%=dataPage.helpers.numberWithCommas(dataPage.session.user.coin)%>
                  </span>
                  <span _ngcontent-serverapp-c148="" style="color: #fff;"
                    class="currency text-customized-text-tertiary mt-1 inline-block align-top">VND</span>
                </div>
              </div>
              <div _ngcontent-serverapp-c148="" class="float-right pt-6"><a _ngcontent-serverapp-c148=""
                  href="/account"><i _ngcontent-serverapp-c148=""
                    class="fas fa-user-circle text-customized-text-primary text-4xl" style="color: #fff;"></i></a></div>
            </section>
          </header>
          <div ng-class="$ctrl.styles.detail" class="_1OOV-q3ssZv9VpaFEYYwdD">
            <h2
              style="font-size: 17px;margin: 0;background: #ffffff26;padding: 20px;width: 60%;border-radius: 12px;color: #e9cb2e;">
              <%=dataPage.msg%>
            </h2>
          </div>

          <!-- Menu Bar -->
          <%- include('../../includes/menu_bar') %>
            <!-- END Menu Bar -->

        </app-member-layout>


        <!-- SideBar Menu -->
        <%- include('../../includes/sidebar_menu') %>
          <!-- END SideBar Menu -->

      </app-sample-layout>
    </app-root>

    <!-- Notify Modal -->
    <%- include('../../includes/notify_modal') %>
      <!-- END Notify Modal -->
  </body>

  <script type="text/javascript" src="/core/js/account/deposit.js"></script>
  <data-script id="scriptMethod"></data-script>
  <%- include('../../includes/footer') %>