<%- include('../../includes/header') %>

    <style>
        .danger[_ngcontent-serverApp-c62] {
            color: #a94442;
            background: #f2dede;
            border: 1px solid #ebccd1
        }

        .warning[_ngcontent-serverApp-c62] {
            color: #8a6d3b;
            background: #fcf8e3;
            border: 1px solid #faebcc
        }

        .info[_ngcontent-serverApp-c62] {
            color: #31708f;
            background: #d9edf7;
            border: 1px solid #bce8f1
        }
    </style>
    <style>
        [_nghost-serverApp-c151] {
            display: block;
            min-height: 100%;
            padding-bottom: 100px;
            --tw-bg-opacity: 1;
            background-color: rgb(29 30 31 / var(--tw-bg-opacity));
            --tw-text-opacity: 1;
            color: rgb(137 145 160 / var(--tw-text-opacity))
        }

        .m-0[_ngcontent-serverApp-c151] {
            margin: 0
        }

        .header[_ngcontent-serverApp-c151] {
            position: static;
            display: block;
            padding-top: 52px
        }

        .header[_ngcontent-serverApp-c151] .header-wrap[_ngcontent-serverApp-c151] {
            position: fixed;
            z-index: 5;
            top: 0;
            left: 0;
            right: 0;
            height: 52px;
            padding: 0 8px;
            color: #fff;
            --tw-bg-opacity: 1;
            background-color: rgb(29 30 31 / var(--tw-bg-opacity));
            display: flex;
            align-items: center;
            justify-content: space-between
        }

        .logo[_ngcontent-serverApp-c151] {
            display: inline-block;
            vertical-align: middle
        }

        .logo[_ngcontent-serverApp-c151] img[_ngcontent-serverApp-c151] {
            max-width: 100px;
            max-height: 50px
        }

        section[_ngcontent-serverApp-c151] {
            display: flex;
            height: 100%;
            justify-content: space-between;
            align-items: center
        }

        section[_ngcontent-serverApp-c151] button[_ngcontent-serverApp-c151] {
            width: 85px;
            height: 24px;
            margin-right: 8px;
            padding: 0;
            --tw-text-opacity: 1;
            color: rgb(29 30 31 / var(--tw-text-opacity));
            font-size: 14px;
            line-height: 22px;
            border-radius: 5px;
            --tw-bg-opacity: 1;
            background-color: rgb(255 77 0 / var(--tw-bg-opacity));
            border: none;
            text-transform: uppercase
        }

        section[_ngcontent-serverApp-c151] button[_ngcontent-serverApp-c151]:first-child {
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity));
            background-color: transparent;
            border-width: 1px;
            border-style: solid;
            --tw-border-opacity: 1;
            border-color: rgb(255 255 255 / var(--tw-border-opacity))
        }

        .balance[_ngcontent-serverApp-c151] {
            font-family: Nunito-Bold;
            --tw-text-opacity: 1;
            color: rgb(255 77 0 / var(--tw-text-opacity))
        }

        .balance[_ngcontent-serverApp-c151] span[_ngcontent-serverApp-c151] {
            vertical-align: text-bottom
        }

        .balance[_ngcontent-serverApp-c151] span.currency[_ngcontent-serverApp-c151] {
            position: relative;
            display: inline-block;
            top: -2px;
            font-weight: 600;
            transform: scale(.85)
        }

        .balance[_ngcontent-serverApp-c151] .update[_ngcontent-serverApp-c151] {
            display: inline-block;
            vertical-align: middle;
            width: 22px;
            height: 32px;
            margin-left: 4px;
            --tw-bg-opacity: 1;
            background-color: rgb(255 77 0 / var(--tw-bg-opacity));
            -webkit-mask-image: url(https://haon2020.earvf.net/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/rotate-right-solid.4817c207ae7b887b.svg);
            mask-image: url(https://haon2020.earvf.net/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/rotate-right-solid.4817c207ae7b887b.svg);
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-position: center;
            mask-position: center;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat
        }

        .financial[_ngcontent-serverApp-c151] {
            margin: 0 11px 0 18px;
            --tw-text-opacity: 1;
            color: rgb(255 77 0 / var(--tw-text-opacity))
        }

        .financial[_ngcontent-serverApp-c151] img[_ngcontent-serverApp-c151] {
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto
        }

        app-agent-apply .page-title {
            display: none
        }

        app-announcement>div.wrapper {
            padding-top: 20px;
            background: transparent
        }

        app-announcement .page-title {
            display: none
        }

        .bottom-sheet-title {
            font-size: 0
        }

        .bottom-sheet-content .top-link {
            text-transform: uppercase
        }

        @media (max-width: 345px) {
            section[_ngcontent-serverApp-c151] button[_ngcontent-serverApp-c151] {
                width: 80px;
                margin-right: 4px;
                font-size: 13px
            }
        }
    </style>
    <style>
        .wrapper[_ngcontent-serverApp-c133] {
            padding: 0 19px
        }

        table[_ngcontent-serverApp-c133] th[_ngcontent-serverApp-c133] {
            padding: .5rem;
            text-align: left;
            border: 1px solid #ddd;
            border-top: 0;
            white-space: nowrap
        }

        table[_ngcontent-serverApp-c133] th[_ngcontent-serverApp-c133]:first-child {
            border-left: 0
        }

        table[_ngcontent-serverApp-c133] th[_ngcontent-serverApp-c133]:last-child {
            border-right: 0
        }

        table[_ngcontent-serverApp-c133] td[_ngcontent-serverApp-c133] {
            padding: .5rem;
            border: 1px solid #ddd;
            border-bottom: 0;
            white-space: nowrap
        }

        table[_ngcontent-serverApp-c133] td[_ngcontent-serverApp-c133]:first-child {
            border-left: 0
        }

        table[_ngcontent-serverApp-c133] td[_ngcontent-serverApp-c133]:last-child {
            border-right: 0
        }

        .top-link[_ngcontent-serverApp-c133] {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap
        }

        .top-link[_ngcontent-serverApp-c133] li[_ngcontent-serverApp-c133] {
            min-width: 95px;
            height: 1.75rem;
            margin: .5rem 0px;
            padding: 0 .25rem;
            text-align: center;
            font-size: .875rem;
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity));
            line-height: 1.75rem;
            --tw-bg-opacity: 1;
            background-color: rgb(73 74 77 / var(--tw-bg-opacity));
            border-radius: .375rem
        }

        .top-link[_ngcontent-serverApp-c133] li[_ngcontent-serverApp-c133] a[_ngcontent-serverApp-c133] {
            display: block;
            width: 100%;
            height: 100%
        }

        .top-link[_ngcontent-serverApp-c133] li[_ngcontent-serverApp-c133] a[_ngcontent-serverApp-c133] i[_ngcontent-serverApp-c133] {
            margin-right: .25rem
        }

        .btn-discount[_ngcontent-serverApp-c133] {
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity));
            --tw-bg-opacity: 1;
            background-color: rgb(255 77 0 / var(--tw-bg-opacity));
            --tw-border-opacity: 1;
            border-color: rgb(255 77 0 / var(--tw-border-opacity))
        }

        .btn-discount-sub[_ngcontent-serverApp-c133] {
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity));
            --tw-bg-opacity: 1;
            background-color: rgb(29 30 31 / var(--tw-bg-opacity));
            --tw-border-opacity: 1;
            border-color: rgb(29 30 31 / var(--tw-border-opacity))
        }
    </style>

    <body class="mat-typography vi-VN">
        <app-root _nghost-sc178="" ng-version="14.2.12" ng-server-context="other" _nghost-serverapp-c157="">
            <app-sample-layout _nghost-serverapp-c91="">
                <app-normal-layout _nghost-serverapp-c151="">


                    <!-- Header Layout -->
                    <%- include('../../includes/header_layout') %>
                        <!-- END Header Layout -->


                        <!-- Menu User Layout -->
                        <%- include('../../includes/menu_user') %>
                            <!-- END Menu User Layout -->


                            <app-discount _nghost-serverapp-c133="" class="ng-star-inserted">
                                <div _ngcontent-serverapp-c133="" class="bottom-sheet-title">
                                    <span _ngcontent-serverapp-c133="" translate="AnyTimeDiscount_Title">Hoàn trả
                                        nhanh</span>
                                    <button _ngcontent-serverapp-c133="" type="button" class="bottom-sheet-close"><i
                                            _ngcontent-serverapp-c133="" class="fas fa-times-circle"></i>
                                    </button>
                                </div>
                                <section _ngcontent-serverapp-c133="" class="bottom-sheet-content">
                                    <ul _ngcontent-serverapp-c133="" class="top-link">
                                        <li _ngcontent-serverapp-c133="" class="ng-star-inserted">
                                            <a _ngcontent-serverapp-c133="">
                                                <i _ngcontent-serverapp-c133="" class="far fa-thumbs-up"></i>
                                                <span _ngcontent-serverapp-c133="" translate="Common_RecommendGame">GIỚI
                                                    THIỆU NỔ HŨ</span>
                                            </a>
                                        </li>
                                        <li _ngcontent-serverapp-c133="">
                                            <a _ngcontent-serverapp-c133="">
                                                <i _ngcontent-serverapp-c133="" class="fal fa-heart"></i>
                                                <span _ngcontent-serverapp-c133=""
                                                    translate="MemberCenter_FavoriteGame">Yêu Thích</span>
                                            </a>
                                        </li>
                                        <li _ngcontent-serverapp-c133="">
                                            <a _ngcontent-serverapp-c133="">
                                                <i _ngcontent-serverapp-c133="" class="far fa-file-invoice"></i>
                                                <span _ngcontent-serverapp-c133="" translate="Common_ReviewGame">Đã xem
                                                    gần đây</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div _ngcontent-serverapp-c133=""
                                        class="mt-2 mb-4 border border-[#ddd] bg-white p-4">
                                        <app-alert-tip _ngcontent-serverapp-c133="" _nghost-serverapp-c62=""
                                            class="ng-star-inserted">
                                            <div _ngcontent-serverapp-c62=""
                                                class="mb-5 rounded border p-4 text-center info ng-star-inserted">
                                                <i _ngcontent-serverapp-c62="" class="fas mr-1 fa-info-circle"></i>
                                                <span _ngcontent-serverapp-c62="">BẠN HIỆN KHÔNG CÓ HOÀN TRẢ NÀO CÓ THỂ
                                                    NHẬN, HÃY VÀO CHƠI
                                                    NGAY!</span>
                                            </div>
                                        </app-alert-tip>
                                    </div>
                                </section>
                            </app-discount>

                            <!-- Menu Bar -->
                            <%- include('../../includes/menu_bar') %>
                                <!-- END Menu Bar -->

                </app-normal-layout>


                <!-- SideBar Menu -->
                <%- include('../../includes/sidebar_menu') %>
                    <!-- END SideBar Menu -->

            </app-sample-layout>
        </app-root>

        <!-- Notify Modal -->
        <%- include('../../includes/notify_modal') %>
            <!-- END Notify Modal -->
    </body>

    <script type="text/javascript" src="/core/js/account/discount.js"></script>

    <%- include('../../includes/footer') %>