<style>
    [_nghost-serverApp-c168] {
        display: flex;
        flex-direction: column;
        height: 100%;
        --tw-text-opacity: 1;
        color: rgb(137 145 160 / var(--tw-text-opacity))
    }

    .wrapper[_ngcontent-serverApp-c168] {
        padding-top: 60px
    }

    .wrapper[_ngcontent-serverApp-c168]>div[_ngcontent-serverApp-c168] {
        z-index: 2
    }

    .wrapper[_ngcontent-serverApp-c168] .swiper.list {
        position: fixed;
        top: 52px;
        width: 100%;
        height: 60px;
        margin: 0 auto;
        padding: 0 3%;
        --tw-bg-opacity: 1;
        background-color: rgb(39 40 42 / var(--tw-bg-opacity))
    }

    .wrapper[_ngcontent-serverApp-c168] .swiper.no-arrow {
        width: 100%;
        margin: 0;
        padding: 0
    }

    .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-slide {
        width: 10%;
    }

    .swiper-slide:nth-child(2n) {
        width: 0%;
    }

    .swiper-slide:nth-child(3n) {
        width: 0%;
    }

    .swiper-button-next[_ngcontent-serverApp-c168],
    .swiper-button-prev[_ngcontent-serverApp-c168] {
        position: fixed;
        top: 52px;
        width: 3%;
        height: 60px;
        margin-top: 0;
        --tw-bg-opacity: 1;
        background-color: rgb(39 40 42 / var(--tw-bg-opacity));
        opacity: 1;
        z-index: 2
    }

    .swiper-button-next[_ngcontent-serverApp-c168]:before,
    .swiper-button-prev[_ngcontent-serverApp-c168]:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 7px;
        height: 12px;
        font-size: 12px;
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-position: center top;
        mask-position: center top;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        --tw-bg-opacity: 1;
        background-color: rgb(137 145 160 / var(--tw-bg-opacity))
    }

    .swiper-button-next[_ngcontent-serverApp-c168]:after,
    .swiper-button-prev[_ngcontent-serverApp-c168]:after {
        display: none
    }

    .swiper-button-prev[_ngcontent-serverApp-c168] {
        left: 0
    }

    .swiper-button-prev[_ngcontent-serverApp-c168]:before {
        -webkit-mask-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/arrow_l.36f4675ba9619eb7.svg);
        mask-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/arrow_l.36f4675ba9619eb7.svg)
    }

    .swiper-button-next[_ngcontent-serverApp-c168] {
        right: 0
    }

    .swiper-button-next[_ngcontent-serverApp-c168]:before {
        -webkit-mask-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/arrow_r.075a1296c82e281f.svg);
        mask-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/arrow_r.075a1296c82e281f.svg)
    }

    .kind[_ngcontent-serverApp-c168] {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: center;
        --tw-text-opacity: 1;
        color: rgb(137 145 160 / var(--tw-text-opacity))
    }

    .kind[_ngcontent-serverApp-c168] i[_ngcontent-serverApp-c168] {
        margin: 3px 0;
        font-size: 16px
    }

    .kind[_ngcontent-serverApp-c168] span[_ngcontent-serverApp-c168] {
        position: relative;
        width: 100%;
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden
    }

    .kind.active[_ngcontent-serverApp-c168] {
        --tw-text-opacity: 1;
        color: rgb(255 77 0 / var(--tw-text-opacity))
    }

    .kind.active[_ngcontent-serverApp-c168] .svg[_ngcontent-serverApp-c168] {
        --tw-bg-opacity: 1;
        background-color: rgb(255 77 0 / var(--tw-bg-opacity))
    }

    .svg[_ngcontent-serverApp-c168] {
        display: block;
        width: 16px;
        height: 16px;
        margin: 3px 0;
        --tw-bg-opacity: 1;
        background-color: rgb(137 145 160 / var(--tw-bg-opacity));
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat
    }

    .svg.svg-cock[_ngcontent-serverApp-c168] {
        -webkit-mask-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/cock.2b73dc4810770360.svg);
        mask-image: url(/cdn/system-requirement/Web.MobileNew/UA531-01/88ab2e5a2e/cock.2b73dc4810770360.svg)
    }

    @media (max-width: 370px) {
        .list[_ngcontent-serverApp-c168] li.long[_ngcontent-serverApp-c168] span[_ngcontent-serverApp-c168] {
            transform: scale(.9)
        }
    }

    @media (max-width: 340px) {
        .list[_ngcontent-serverApp-c168] li.long[_ngcontent-serverApp-c168] span[_ngcontent-serverApp-c168] {
            transform: scale(.8)
        }
    }
</style>

<div _ngcontent-serverapp-c168="">
    <swiper _ngcontent-serverapp-c168=""
        class="list flex flex-shrink-0 swiper swiper-initialized swiper-horizontal swiper-ios swiper-backface-hidden">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div _ngcontent-serverapp-c168="" class="kind <%=(dataPage.location=='slot-gamelobby')?'active':'';%>" onclick="window.location='/lobby/slot/INDEX'">
                    <i _ngcontent-serverapp-c168="" class="fa-gamepad fas"></i>
                    <span _ngcontent-serverapp-c168="">
                        NỔ
                        HŨ</span>
                </div>
            </div>

            <div class="swiper-slide swiper-slide-prev">
                <div _ngcontent-serverapp-c168="" class="kind <%=(dataPage.location=='live-gamelobby')?'active':'';%>" onclick="window.location='/lobby/live'">
                    <i _ngcontent-serverapp-c168="" class="fa-spade fas"></i>
                    <span _ngcontent-serverapp-c168="">
                        SÒNG
                        BÀI</span>
                </div>
            </div>

            <div class="swiper-slide swiper-slide-active">

                <div _ngcontent-serverapp-c168="" class="kind <%=(dataPage.location=='fish-gamelobby')?'active':'';%>" onclick="window.location='/lobby/fish'">
                    <i _ngcontent-serverapp-c168="" class="fa-fish fas"></i>
                    <span _ngcontent-serverapp-c168="">
                        BẮN
                        CÁ</span>
                </div>
            </div>

            <div class="swiper-slide swiper-slide-next">
                <div _ngcontent-serverapp-c168="" class="kind <%=(dataPage.location=='sport-gamelobby')?'active':'';%>" onclick="window.location='/lobby/sport'">
                    <i _ngcontent-serverapp-c168="" class="fa-futbol fas"></i>
                    <span _ngcontent-serverapp-c168="">
                        THỂ
                        THAO</span>
                </div>
            </div>

            <div class="swiper-slide">
                <div _ngcontent-serverapp-c168="" class="kind <%=(dataPage.location=='lottery-gamelobby')?'active':'';%>" onclick="window.location='/lobby/lottery'">
                    <i _ngcontent-serverapp-c168="" class="fa-ticket-alt fas"></i>
                    <span _ngcontent-serverapp-c168="">
                        XỔ
                        SỐ</span>
                </div>
            </div>

            <!-- <div class="swiper-slide">
                <div _ngcontent-serverapp-c168="" class="kind <%=(dataPage.location=='board-gamelobby')?'active':'';%>" onclick="window.location='/lobby/board/INDEX'">
                    <i _ngcontent-serverapp-c168="" class="fa-chess-pawn fas"></i>
                    <span _ngcontent-serverapp-c168="">
                        GAME
                        BÀI</span>
                </div>
            </div> -->

            <div class="swiper-slide">
                <div _ngcontent-serverapp-c168="" class="kind <%=(dataPage.location=='cockfighting-gamelobby')?'active':'';%>" onclick="window.location='/lobby/cockfighting'">
                    <div _ngcontent-serverapp-c168="" class="svg svg-cock"></div>
                    <span _ngcontent-serverapp-c168="">
                        ĐÁ GÀ
                    </span>
                </div>
            </div>

        </div>
    </swiper>
    <button _ngcontent-serverapp-c168="" class="swiper-button-prev"></button>
    <button _ngcontent-serverapp-c168="" class="swiper-button-next swiper-button-disabled" disabled=""></button>
</div>

<script type="text/javascript" src="/core/js/game_lobby/game_lobby_cateygory.js"></script>